$color: green;
.title
{
    text-align: center;
}

p
{
    font-size: 150%;
}

div
{
    font-size: 200%;
    color: &color;
    font-style: inherit;
    h4{color: black}
}
%stuff {
  font-size: 125%;
}
#green
{
  color: $color;
  @extend %stuff;
}

.img
{
    font-size: 225%;
    font-family: Agency FB;
}

h4
{
    font-family: Comic Sans;
}
